/* Estilos CSS no arquivo styles.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap')

body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	margin: 0;
	padding: 20px;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	border-radius: 15px;
	margin: 20px;
}

header h1 {
	margin: 0;
	text-align: center;
	font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h2 {
	font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

nav ul {
	list-style-type: none;
	padding: 0;
	text-align: end;
}

nav ul li {
	display: inline;
	margin-right: 20px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

section {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

/* Estilos adicionais para a seção "Contato" */

#contato {
	background-color: #f9f9f9;
	border-radius: 10px;
	padding: 20px;
}

#contato form {
	margin-top: 20px;
}

#contato label {
	display: block;
	margin-bottom: 5px;
}

#contato input[type="text"],
#contato input[type="email"],
#contato textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

#contato textarea {
	resize: vertical; /* Permite redimensionar apenas verticalmente */
}

#contato button {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

#contato button:hover {
	background-color: #555;
}
